<div class="container">
  <p>
    REFERENCE DATA
  </p>
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Date</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Address</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of referenceDataList">
        <td> {{item.loadedDate}}</td>
        <td> {{item.customerID}}</td>
        <td> {{item.customerName}}</td>
        <td> {{item.address}}</td>
        <td></td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Customer ID" [(ngModel)]="customerReferenceData.customerID" tabindex="1">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Customer Name" [(ngModel)]="customerReferenceData.customerName" tabindex="2">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Address" [(ngModel)]="customerReferenceData.address" tabindex="3">
          </div>
        </td>
        <td>
          <div>
            <button mat-raised-button color="primary" (click)="loadCustomer()">Load</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    SC Form Data
  </p>
  <table class="table table-bordered">
    <thead class="thead-light">
      <th>Date</th>
      <th>Customer ID</th>
      <th>FormType</th>
      <th>eyResult</th>
      <th>Validation ID</th>
      <th>ch4Status</th>
      <th>ch3Status</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr *ngFor="let scFormItem of scFormDataList">
        <td>
          {{scFormItem.loadedDate}}
        </td>
        <td>
          {{scFormItem.customerID}}
        </td>
        <td>
          {{scFormItem.formType}}
        </td>
        <td>
          {{scFormItem.eyResult}}
        </td>
        <td>
          {{scFormItem.validationIDNumber}}
        </td>
        <td>
          {{scFormItem.ch4Status}}
        </td>
        <td>
          {{scFormItem.ch3Status}}
        </td>
        <td>
          <!-- Actions-->
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Customer ID" [(ngModel)]="scFormData.customerID">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="FormType" [(ngModel)]="scFormData.formType">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="EY_Result" [(ngModel)]="scFormData.eyResult">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Validation ID Number" [(ngModel)]="scFormData.validationIDNumber">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ch4Status" [(ngModel)]="scFormData.ch4Status">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="ch3Status" [(ngModel)]="scFormData.ch3Status">
          </div>
        </td>
        <td>
          <button mat-raised-button color="primary" (click)="loadScForm()">Load</button>
        </td>
      </tr>
      <tbody>
  </table>
  <p>
    CIC ALERTS
  </p>
  <table class="table table-bordered">
    <thead class="thead-light">
      <th>Date</th>
      <th>Customer ID</th>
      <th>Form Type</th>
      <th>Status</th>
      <th>From</th>
      <th>To</th>
    </thead>
    <tbody>
      <tr *ngFor="let cicItem of cicAlertList">
        <td>
          {{cicItem.createdDate}}
        </td>
        <td>
          {{cicItem.customerID}}
        </td>
        <td>
          {{cicItem.formType}}
        </td>
        <td>
          {{cicItem.status}}
        </td>
        <td>
          {{cicItem.fromValue}}
        </td>
        <td>
          {{cicItem.toValue}}
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    TAX STATUS
  </p>

  <table class="table table-bordered">
    <thead class="thead-light">
      <th>Customer ID</th>
      <th>Doc Type</th>
      <th>Effective Date</th>
      <th>End Date</th>
      <th>C4 Status</th>
    </thead>

    <tbody>
      <tr *ngFor="let taxStatusItem of taxStatusList">
        <td>
          {{taxStatusItem.customerID}}
        </td>
        <td>
          {{taxStatusItem.docType}}
        </td>
        <td>
          {{taxStatusItem.effactiveDate}}
        </td>
        <td>
          {{taxStatusItem.endDate}}
        </td>
        <td>
          {{taxStatusItem.ch4Status}}
        </td>
      </tr>
    </tbody>
  </table>
</div>