<p>
  CIC ALERTS
</p>

<div class="container">
  <div class="row">
    <div class="col-sm">Created date</div>
    <div class="col-sm">From Value</div>
    <div class="col-sm">To Value</div>
    <div class="col-sm">Status</div>
  </div>

  <div *ngFor="let item of cicAlertList" class="row">
    <div class="col-sm">
      {{item.createdDate}}
    </div>
    <div class="col-sm">
      {{item.fromValue}}
    </div>
    <div class="col-sm">
      {{item.toValue}}
    </div>
    <div class="col-sm">
      {{item.status}}
    </div>
  </div>

  <div class="row">
    <div class="col-sm">

    </div>
    <div class="col-sm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="From Value">
      </div>
    </div>
    <div class="col-sm">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="To Value">
      </div>
    </div>
    <div class="col-sm">

      <button mat-raised-button color="primary" (click)="onMineClicked()">Add</button>

    </div>
  </div>
</div>


<p>
  TAX STATUS
</p>